<section class="main-page">
    <div class="hero-section">
        <img class="hero-img" src="./assets/img/ChatGPT Image 7. Aug. 2025, 21_25_52.png" alt="Hero Image">
        <div class="hero-container">
            <div class="profile-card">
                <img class="profile-picture" src="./assets/img/me/me.jpg" alt="Bekir Labjani">
                <div class="intro-text">
                    <h1>Bekir Labjani</h1>
                    <p class="role">Frontend Developer</p>
                    <p class="slogan">Ich verwandle Ideen in pixelgenaue, performante Web-Erlebnisse.</p>
                    <a href="#contact" class="cta-button">Kontakt aufnehmen</a>
                </div>
            </div>
        </div>
        <app-show-room></app-show-room>
    </div>
</section>